<!-- app/views/tasks/index.html.erb -->
<h1>My today tasks</h1>

<!-- # plusieurs lignes
 <% @tasks.each do |task| %>
#   <% if task.completed == true %>
#   <input type="checkbox" checked >
#   <label><%=task.title%></label>
#   <% else %>
#   <input type="checkbox" >
#    <label><%=task.title%></label>
#   <% end %>
#   <br><br>
# <% end %> -->


<!-- une seule ligne -->
<% @tasks.each do |task| %>
  <input type="checkbox" <%= "checked" if task.completed == true %> >
  <label><%=task.title%></label>
  <br><br>    <%= link_to task.title, task_path(task) %>
  <%= link_to 'edit', edit_task_path(task) %>


<% end %>




